<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../base.css">
    <link rel="stylesheet" href="flex.css">
    <link rel="stylesheet" href="inline.css">
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="position.css">
    <link rel="stylesheet" href="float.css">
    <title>layout </title>
</head>
<body>
    <div class="flex">
        <div class="child-a">A</div>
        <div class="child-b">B</div>
    </div>
    <div class="inline">
        <div class="inline-a">A</div>
        <div class="inline-b">B</div>
    </div>
    <div class="grid">
        <div class="grid-a">A</div>
        <div class="grid-b">B</div>
    </div>
    <div class="float">
        <div class="float-a">A</div>
        <div class="float-b">B</div>
    </div>
    <div class="position">
        <div class="position-a">A</div>
        <div class="position-b">B</div>
    </div>
   
</body>
</html>