.position{
    position: relative;
}
.position>div{
    position: absolute;
    top: 0;
}

.position-a{
    background-color: #0f0;
    width: 100px;
    left: 0;
}

.position-b{
    background-color: #0ff;
    left: 100px;
    /* width: calc(100% - 100px); */
    right: 0;
}